 

.Box {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    padding: 2%;
    background-color: green;
    border-radius: 20px;
}

.inputOTP {
    display: flex;
    margin-left: 30%;
}

.para {
    font-size: 20px;
    color: white;
    margin-right: 10px;
    letter-spacing: 1.5px;
    font-weight: 600;
}

.OTP {
    width: 100px;
    height: 32px;
    outline: none;
}

.btn {
    margin: auto;
    margin-left:45%;
    background-color: springgreen;
    color: rgb(248, 248, 248);
    width: 250px;
    height: 32px;
    font-weight: bolder;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    
}

.btn:hover {
    background-color: black;
    color: white;

}

.text1 {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin-bottom: 3px;
    letter-spacing: 1.5px;
}

.text2 {
    text-align: center;
    font-size: 17px;
    margin-top: 1px;
    font-weight: 400;
    color: rgb(20, 14, 12);
    letter-spacing: 0.5px;
}
 